/docs/_build/
/docs/functions/

/.tox/
.coverage*
/.pytest_cache/

__pycache__/
/mmochi.egg-info/
/build/
/dist/

*~
*.log
*.hierarchy
*.json
*.pdf
*.dot
*.h5ad
*.h5

.DS_Store
Thumbs.db
.ipynb_checkpoints/
.directory
_hierarchy.csv
.gitignore
docs/data/thresholds.csv
docs/data/tree.png
_thresholds.csv
