numpy>=1.21.0
pandas>=1.0.5
scikit-learn>=1.1.2
imbalanced-learn>=0.9.1
scipy>=1.8.0
scanpy>=1.7.0
anndata>=0.8.0
treelib>=1.6.1
matplotlib>=3.5.1
leidenalg>=0.8.9
tqdm
ipywidgets>=7.7.0
pydot>=1.4.2
tqdm>=4.64.0
scikit-fda>=0.5
seaborn>=0.11.2
ipython>=8.4.0
scikit-fda>=0.5
